
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>دليل المستخدم للاستيراد والتصدير</title>

	<link rel="icon" type="" href="/cms3/new/fav-icon.png">
	@*<link href="/cms3/lib/bootstrap/dist/css/bootstrap_material.css" rel="stylesheet" />*@
	<link href="/cms3/lib/bootstrap/dist/css/bootstrap_cerulean.css" rel="stylesheet" />
	<link href="/cms3/css/login.css" rel="stylesheet" />

</head>
<body>


	<div class="bgg">

	</div>
	<div class="login_container">
		@RenderBody()
	</div>

	<script src="/cms3/lib/jquery/dist/jquery.js"></script>
	<script src="/cms3/lib/bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>
